# Ignore node_modules directory
node_modules

# Ignore build outputs
build
dist

# Ignore environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/
*.swp

# Ignore log files
npm-debug.log
yarn-error.log
*.log

# Ignore coverage directories
coverage

# Ignore miscellaneous
.cache
